body{
	background-color: black;
}
.floatLeft{
float: left;
}

.floatRight{
float: right;
}

.aboutMe{
	width: 60%;
	font-weight: bolder;
	margin-right: 10%;
}
.section1, .section2, .section3{
	width: 100%;
    margin: 5px;
    float: left;
}


h1{
font-family: Arial-ItalicMT;
font-size: 55px;
color: #FFFFFF;
line-height: 28px;
text-align: center;
margin-top: 5px;
}

p{
font-family: ArialMT;
font-size: 25px;
color: #9B9B9B;
line-height: 1.4em;
}

ul{
font-family: ArialMT;
font-size: 15px;
color: #9B9B9B;
line-height: 24px;
}

#email{
font-family: ArialMT;
font-size: 14px;
color: #FFFFFF;
line-height: 16px;
}

#phoneNumber{
font-family: ArialMT;
font-size: 14px;
color: #FFFFFF;
line-height: 16px;
}

#state{
font-family: ArialMT;
font-size: 14px;
color: #FFFFFF;
line-height: 16px;
}